<section class="collapsible footer__section">
  <header class="collapsible__header">
    <h2 class="collapsible__heading footer__heading">Domains</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <ul class="list">
      <li><a href="#">Domain Checker</a></li>
      <li><a href="#">Domain Transfer</a></li>
      <li><a href="#">Free Domain</a></li>
    </ul>
  </div>
</section>
